.background{
    width: 99vw;
    height: 98.25vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.invisible{
    display: none;
    visibility: hidden;
} 
.screen{
    background-color: black;
    width: 99vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ball {
    width: 500px;
    height: 500px;
    background-color: black;
    background: radial-gradient(circle at 50% 50%, #fcfcfc, #010305 80%);
    border-radius: 50%;
    margin: 50px;
    padding: 50px;
    transform-style: preserve-3d;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
label{
    margin: 20px;
}
h1{
    font-style: italic;
    font-weight: lighter;
    padding: 100px;
    color: rgb(255, 0, 0);
    font-size: 80px;
    font-stretch: extra-expanded;
}
#start{
    background-color: black;
    width: 20px;
    height: 20px;
    -webkit-text-fill-color: aliceblue;
    border: black
}
label{
    color: whitesmoke;
}
#quitButton{
    width: 100px;
    height: 50px;
    margin: 40px;
    max-block-size: 20%;
    background-color: black;
    -webkit-text-fill-color: aliceblue;
    border-color: black;
}